html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
  overflow-x: hidden;
}

.hljs-comment,
.hljs-quote {
  color: var(--gray10);
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: var(--red10);
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: var(--orange10);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: var(--green10);
}

.hljs-title,
.hljs-section {
  color: var(--yellow11);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--blue10);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
.image {
  display: block;
  width: 100%;
}

/* recommendation from Haz: https://twitter.com/diegohaz/status/1591829631811846147 */
.link,
.hm-link {
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

.link:hover,
.hm-link:hover {
  text-decoration-thickness: 3px;
}


