.blocktools-wrapper {
  position: absolute;
  margin-top: -3em;
  top: var(--top, -999px);
  height: var(--height, 0);
  left: 0;
  right: 0;
  width: 100vw;
  // background-color: var(--primary-component-bg-hover);
  z-index: 0;
}

.blocktools {
  position: absolute;
  z-index: 1000;
}
