[data-element-type='group'] {
  list-style: none !important;
}

[data-element-type='unorderedList'] {
  list-style: disc;
}

li::marker {
  color: var(--base-active);
  user-select: none;
}

[data-element-type] {
  position: relative;
}

[data-element-type='code'] {
  position: relative;
  max-width: var(--editor-width, 59ch);
  pre {
    width: 100%;
    overflow: hidden;
  }

  code {
    overflow-x: scroll;
  }

  &:hover > .code-selector-wrapper {
    opacity: 1 !important;
  }
}

.code-selector-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 100;
}

.editor {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
  // font-size: var(--size-400);
  --editor-width: 59ch;
  --flow-space: var(--size-700);

  padding-inline-end: var(--size-400);
  width: 100%;
  max-width: var(--editor-width, 59ch);
  margin-inline: auto;
  
  @media (min-width: 768px) {
    padding-inline-end: var(--size-700);
  }

  [data-slate-placeholder='true'] {
    white-space: nowrap;
  }

  p,
  q,
  blockquote {
    max-width: var(--editor-width, 59ch);
    width: 100%;
  }

  h1 {
    // max-width: 15ch;
    width: 100%;
  }

  h2,
  h3 {
    // max-width: 25ch;
    width: 100%;
  }

  :is(li h2, li h3) + * {
    --flow-space: var(--size-400);
  }

  li figure,
  li figure + * {
    --flow-space: var(--size-900);
  }

  &.mode-draft,
  &.mode-publication {
    display: block;
    padding-block-start: var(--size-400);

    ul,
    ol {
      padding-left: 1.5em;
    }

    ol > li > ul {
      padding-left: 0;
    }
  }

  &.mode-embed {
    display: inline !important;
    padding-inline-end: 0 !important;
  }

  &.mode-discussion {
    --inline-offset: 40px;
    transform: translateX(calc(var(--inline-offset) * -1));
    display: block;
    margin-inline: 0;
    width: calc(100% + var(--inline-offset));
    padding-inline-end: 0;

    p {
      font-family: var(--mtt-fonts-base);
      font-size: 0.9em;
    }

    h2 {
      font-size: 1.2em;
    }

    h3,
    h4 {
      font-size: 1.1em;
    }

    li::marker {
      font-size: 0.8em;
    }
  }

  a {
    text-decoration: underline;
    word-break: break-all;

    &:hover {
      cursor: pointer;
    }
    &[data-highlight]:hover {
      background-color: var(--primary-component-bg-hover);
    }
  }
}

q {
  // display: inline-block;
  display: inline;

  & > span {
    // font-style: italic;
    // color: var(--primary-normal);
    background-color: var(--highlight-surface1);
    // text-shadow: 0 0 3px var(--highlight-surface3);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-bottom: 2px solid var(--highlight-surface2);
  }

  &:before,
  &:after {
    content: '';
  }

  &:hover {
    cursor: pointer;

    > span {
      // text-shadow: 0 0 6px var(--primary-component-bg-active);
      background-color: var(--highlight-surface2);
    }
  }

  &.selected {
    box-shadow: 0 0 0 2px var(--primary-border-hover);
  }
}

.flash > :first-child span {
  animation: yellowflash-bg 5s;
}

@keyframes yellowflash-bg {
  from {
    background: var(--highlight-surface4);
  }
  to {
    background: transparent;
  }
}
