.editor {
  max-width: calc(68ch + 120px);
  margin: 40px auto;
  width: 90%;
}

.ProseMirror {
  background-color: transparent;
}

.ProseMirror .link {
  color: #454f94;
  text-decoration: underline;
}

.ProseMirror .hm-link {
  color: #40847a;
  text-decoration: underline;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

.ProseMirror .link-placeholder {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.VideoContainer {
  position: 'relative';
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.VideoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
