.ProseMirror {
    background-color: transparent;
}

.ProseMirror .link {
    color: #454f94;
    text-decoration: underline;
}

.ProseMirror .hd-link {
    color: #40847a;
    text-decoration: underline;
}