.editor {
  max-width: 68ch;
  margin: 40px auto;
  width: 90%;
}

.ProseMirror {
  background-color: transparent;
}

.ProseMirror .link {
  color: #454f94;
  text-decoration: underline;
}

.ProseMirror .hd-link {
  color: #40847a;
  text-decoration: underline;
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
