# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store
node_modules
.pnp
.pnp.js
coverage
.next/
out/
build
.now
.netlify
npm-debug.log*
yarn-debug.log*
yarn-error.log*
