strict_env

if ! has nix; then
    log_error 'Nix must be installed'
    exit 1
fi

WANT_NIX_VERSION="2.9.1"
HAVE_NIX_VERSION="$(nix --version | awk '{print $3}')"
export NIXPKGS_ALLOW_BROKEN=1

if [ "$HAVE_NIX_VERSION" != "$WANT_NIX_VERSION" ]; then
    cat <<HEREDOC
Wrong version of Nix installed (got = ${HAVE_NIX_VERSION}, want = ${WANT_NIX_VERSION})!
HEREDOC
    PS3='Please select how to proceed: '
    options=("Update global Nix." "Pin desired Nix version to ${HAVE_NIX_VERSION}." "Quit.")
    select opt in "${options[@]}"
    do
        case $REPLY in
            1)
                echo "==> Updating global Nix..."
                nix-channel --update; nix-env -iA nixpkgs.nix nixpkgs.cacert
                break
                ;;
            2)
                sed -e "s/WANT_NIX_VERSION=\"${WANT_NIX_VERSION}\"/WANT_NIX_VERSION=\"${HAVE_NIX_VERSION}\"/" -i '' .envrc
                echo "==> Changed pinned Nix version. You have to commit and push the changes!"
                break
                ;;
            3)
                echo "==> Quitting... Things won't work properly!"
                echo "Change pinned Nix version in .envrc or install the desired Nix version manually!"
                break
                ;;
            *) echo "invalid option $REPLY";;
        esac
    done
fi

use nix --max-jobs auto
watch_file shell.nix build/nix/**/*.nix

export VITE_MINTTER_API_URL="http://localhost:55001"
