strict_env

if ! has nix; then
    log_error 'Nix must be installed'
    exit 1
fi

export NIXPKGS_ALLOW_BROKEN=1

# Asking git to rebase before pull.
# This helps avoiding nasty merge commits between local and remote branches,
# like "Merge branch 'master' of <remote>".
# The slight inconvenience is that git won't pull into a dirty workspace,
# asking to stash or commit the changes before pulling.
git config pull.rebase true

use nix --max-jobs auto
watch_file shell.nix build/nix/**/*.nix

export VITE_MINTTER_API_URL="http://localhost:55001"
export VITE_MINTTER_GATEWAY_URL="https://mintter.com"
export MINTTER_HOME_PUBID="bafy2bzacea346azbi4r5fxebdvz6wpkak7ati3cf5vywtruw4aabjeoi2332w"
export MINTTER_HOME_VERSION="baeaxdiheaiqdibxfrclwutlnc73bey7yrgqqbggbsdoz5b2d2rlsk7euvqompey"
