# We use this instead of use_nix to avoid polluting our environment with other variables nix-shell sets.
export PATH="$PWD/node_modules/.bin:$(nix run -f shell.nix -c 'bash' '-c' 'echo $PATH')"
watch_file shell.nix build/nix/**/*.nix
unset GOPATH
unset GOROOT

mkdir -p bin
rm -f bin/bazel
ln -s `which bazelisk` bin/bazel
PATH_add $(pwd)/bin

# Remove the old GN build system.
rm -rf out

export CURRENT_PLATFORM="$(go env GOOS)_$(go env GOARCH)"
export BAZEL_SH="$(which bash)"
export CGO_ENABLED="1"
export GOPATH="${HOME}/go"
export VITE_MINTTER_API_URL="http://localhost:55001"
