/bin
*.log
.DS_Store

# Local output for hacking.
tmp

# Redo
.redo
out

!.vscode

rice-box.go

# Bazel
user.bazelrc
bazel-*
.bazel-*
.bazel

# Frontend
frontend/apps/desktop/.vite
frontend-old

# Backend code
backend/ui/rice-box.go-e 

# Terraform
.terraform

# Cargo
target

# JetBrains project files
.idea/

# Please
.plz-cache
plz-out
.plzconfig.local
./private_keys
.vercel
