.avatar-circle {
  background-color: var(--mtt-colors-base-component-bg-hover);
  // background-color: red;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);

  .initials {
    text-transform: capitalize;
    // background-color: yellow;
    font-weight: bold;
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
  }

  &[data-size='1'] {
    --avatar-size: 24px;

    .initials {
      top: -1px;
    }
  }

  &[data-size='2'] {
    --avatar-size: 48px;
  }

  &[data-size='3'] {
    --avatar-size: 64px;
  }
}
