.discussions-wrapper {
  > h2 {
    margin-bottom: 3rem;
    line-height: 2;
    border-bottom: 1px solid var(--mtt-colors-base-border-normal);
  }
}

.discussion-list {
  position: relative;
  padding: 0;
  // padding: 1rem;

  // list-style-type: none;
}
