// import css-variables from './_theme.scss'
.discussion-item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0 1em;
  padding: 1rem 2rem 1rem 3em;
  border-bottom: 1px solid var(--base-border-subtle);
  grid-template-areas:
    'avatar info'
    '. content'
    '. footer';

  &:before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: calc(3rem + 16px);
    width: 1px;
    height: 100%;
    border-inline-start: 2px dashed var(--base-border-subtle);
  }

  .item-section {
    z-index: 1;
  }

  .item-avatar {
    grid-area: avatar;
  }
  .item-info {
    grid-area: info;
  }
  .item-content {
    grid-area: content;
    display: block;
  }

  .item-footer {
    grid-area: footer;
  }

  &:hover {
    background-color: var(--base-background-subtle);

    .item-control {
      opacity: 1;
    }
  }

  &:last-child {
    border-bottom-color: transparent;
    &:before {
      height: calc(1rem + 20px) !important;
    }
  }

  &:first-child {
    border-bottom: none;
    &:before {
      height: calc(40px + 100%);
      top: -50px;
    }
  }

  &.activity-item {
    background-color: var(--highlight-surface1);
    border-block: 1px solid var(--base-border-subtle);
  }
}

.item-avatar,
.item-info {
  display: flex;
  align-items: center;
  min-height: 2em;
}

.item-info {
  gap: 0.5em;
  user-select: none;
  -webkit-user-select: none;

  * {
    color: var(--base-text-low);
    font-size: small;
    margin-inline: 0.25em;
    font-family: var(--mtt-fonts-base);
    margin: 0;
    padding: 0;
  }

  &:hover {
    cursor: pointer;
  }
}
.item-control {
  all: unset;
  opacity: 0;
  transition: opacity 0.25s ease;
  font-weight: 600;
  font-size: 0.8em;
  color: var(--primary-normal);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// button.item-control {
//   all: unset;
// }
