$new-color: var(--primary-active);
$foreground: var(--base-text-high);
$bg: transparent;

.list-page-wrapper {
  height: 100%;
}

.file-list {
  margin: 0;
  // padding: 0;
  max-width: 800px;
  margin-top: 2rem;
  margin-inline: auto;
  box-sizing: border-box;
}
.list-item {
  position: relative;
  display: grid;
  gap: 0;
  grid-auto-flow: row;
  user-select: none;
  overflow: hidden;
  border-radius: 0.2rem;
  background-color: $bg;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'item-title item-title item-controls'
    'item-author item-date .';

  &:hover {
    $bg: var(--base-component-bg-hover);
    cursor: pointer;
    background-color: $bg;

    & .item-controls {
      opacity: 1;
    }
  }

  & > * {
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }

  @media (min-width: 768px) {
    grid-template-areas: 'item-title item-author item-date item-controls';
    grid-template-columns: 1fr auto auto auto;
    grid-template-rows: 1fr;
  }

  &.new::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    background: $new-color;
    block-size: 0.4rem;
    inline-size: 0.4rem;
    border-radius: 100%;
  }
}

.item-title {
  font-family: var(--mtt-fonts-base);
  margin: 0;
  grid-area: item-title;
  letter-spacing: 0.01rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $foreground;
}
.item-controls {
  opacity: 0;
  grid-area: item-controls;
}
.item-author {
  grid-area: item-author;
}
.item-date {
  grid-area: item-date;
}

.item-date,
.item-author {
  --text-color-dimmed: var(--base-text-low);
  color: var(--text-color-dimmed);
  text-align: start;
  font-size: 0.8rem;
  opacity: 0.7;

  @media (min-width: 768px) {
    text-align: end;
    font-size: 1rem;
    opacity: 1;
    min-width: 12ch;
  }
}
