@use 'mixins/platform';

.main-footer {
  position: fixed;
  height: var(--footer-h);

  border-top: 1px solid var(--base-border-subtle);
  background-color: var(--base-background-subtle);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 0.5em;

  @include platform.macos {
    inset: auto 0 0 0;
  }

  @include platform.win32-or-linux {
    bottom: 1px;
    left: 1px;
    right: 1px;
  }
}

.button {
  --color: var(--base-text-low);
  --color-hover: var(--base-text-low);
  --surface: transparent;
  --surface-hover: var(--base-component-bg-hover);
  all: unset;
  min-inline-size: 1em;
  min-block-size: 1em;
  padding-block: 0.1em;
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.3em;
  gap: 0.2em;
  font-size: 0.8em;
  background-color: var(--surface);
  color: var(--color);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--surface-hover);
    color: var(--color-hover);
    cursor: pointer;
  }

  &.primary {
    --color: var(--primary-active);
    --color-hover: white;
    --surface-hover: var(--primary-active);
    border: 1px solid transparent;
  }
  &.success {
    --color: var(--success-active);
    --color-hover: white;
    --surface-hover: var(--success-active);
  }

  &.dropdown {
    font-weight: bold;
  }

  &.outlined {
    border-color: var(--color);
  }

  & > * {
    max-height: 1em;
    line-height: 1;
  }
}

.status-indicator {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--success-active);
}

.contacts-content {
  background-color: var(--base-background-normal);
  padding: 0.5em;
  box-shadow: var(--mtt-shadows-menu);
  // border-radius: 1em;
  margin: 0;
  list-style-type: none;
}

.contact-item {
  display: flex;
  align-items: center;
  min-width: 20ch;
  padding: 0.2rem 0.5em;
  user-select: none;
  border-radius: 0.3em;
  white-space: nowrap;
  gap: 0.5em;

  &:hover {
    background-color: var(--base-component-bg-hover);
  }
}
