@use 'mixins/platform';
@use 'variables' as *;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  @include platform.win32-or-linux {
    border: 1px solid #777;
  }
}

.main-root {
  position: absolute;
  bottom: var(--footer-h);
  overflow: hidden;
  display: flex;
  gap: 0;
  background-color: var(--base-background-subtle);

  @include platform.macos {
    top: $darwin-title-bar-height;
    inset: 0;
  }

  @include platform.win32 {
    top: $win32-title-bar-height;
  }

  @include platform.linux {
    top: $linux-title-bar-height;
  }

  &.settings {
    padding-block-start: 0;
  }

  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.page-wrapper {
  height: 100%;
}
