.main-root {
  position: absolute;
  inset: var(--topbar-h) 0 var(--footer-h) 0;
  overflow: hidden;
  display: flex;
  gap: 0;
  background-color: var(--mtt-colors-base-background-subtle);

  &.settings {
    padding-block-start: 0;
  }

  main {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.page-wrapper {
  height: 100%;
}
