.search-highlight {
  background-color: var(--mtt-colors-warning-component-bg-active);
}

#search-box {
  display: flex;
  gap: var(--mtt-space-2);
  padding-inline: var(--mtt-space-3);
  border-radius: var(--mtt-radii-3);
  box-sizing: border-box;
  align-items: center;
  border: var(--mtt-space-1) solid transparent;
  color: var(--mtt-colors-primary-text-high);
}

#search-box:focus-within {
  border: var(--mtt-space-1) solid var(--mtt-colors-warning-active);
}

#search-box svg {
  zoom: 0.75;
}

#search-box:focus-within svg,
#search-box:has(#search:not([value=''])) svg {
  zoom: 0.667;
}

#search-box:not(:focus-within):has(#search:not([value=''])) {
  border: var(--mtt-space-1) solid var(--mtt-colors-base-border-subtle);
}

#search {
  width: 0;
  outline: none;
  transition: width 150ms;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  color: var(--mtt-colors-primary-text-high);
}

#search:focus,
#search:not([value='']) {
  min-width: 20ch;
  width: 20vw;
  outline: none;
}
