.search-highlight {
  background-color: var(--mtt-colors-warning-component-bg-active);
}

#search-box {
  display: flex;
  gap: 5px;
  padding: 0 0.5em;
  border-radius: 7px;
  box-sizing: border-box;
  align-items: center;
  color: rgb(115, 115, 115);
}

#search-box:focus-within {
  border: 3px solid var(--mtt-colors-warning-active);
}

#search-box svg {
  zoom: 0.75;
}

#search-box:focus-within svg,
#search-box:has(#search:not([value=''])) svg {
  zoom: 0.667;
}

#search-box:not(:focus-within):has(#search:not([value=''])) {
  border: 2px solid var(--mtt-colors-base-border-subtle);
}

#search {
  width: 0;
  outline: none;
  transition: width 150ms;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
}

#search:focus,
#search:not([value='']) {
  width: 15rem;
  outline: none;
}
