.publication-wrapper {
  width: 100%;
}

.split-view-view > * {
  height: 100%;
  box-sizing: border-box;
}

.publication-section {
  height: 100%;
  overflow-y: scroll;

  [data-radix-scroll-area-viewport] {
    scroll-behavior: smooth;
  }
}

.discussion-section {
  border-right: 1px solid var(--base-border-hover);
  height: 100%;
  box-sizing: border-box;
}

.discussion-toggle {
  position: fixed;
  left: 0;
  top: 100px;
  z-index: 1000;
  padding: 40px;

  button {
    opacity: 0;
  }

  @media (min-width: 768px) {
    // padding: 0;

    button {
      opacity: 1;
    }
  }

  &:hover {
    button {
      opacity: 1;
      pointer-events: initial !important;
    }
  }
}

.discussion-button {
  all: unset;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: var(--primary-component-bg-hover);
  border-radius: 50%;
  box-shadow: 0px 4px 8px var(--base-border-hover);

  &:hover {
    cursor: pointer;
  }
}
