.discussion-toggle {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 1000;
  padding: 16px 40px;

  &:hover {
    button {
      opacity: 1;
      pointer-events: initial !important;
    }
  }

  button {
    all: unset;
    opacity: 0;
    width: 40px;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mtt-colors-primary-component-bg-hover);
    border-radius: 50%;
    transition: opacity 0.2s ease;
    pointer-events: none;
    box-shadow: 0px 4px 8px var(--mtt-colors-base-border-hover);
    &:hover {
      pointer-events: initial;
      cursor: pointer;
    }
  }
}
