[cmdk-overlay] {
  position: fixed;
  inset: 0;
  background-color: var(--base-background-normal);
  opacity: 0.7;
}

[cmdk-dialog] {
  z-index: 99999;
  height: var(--mtt-sizes-full);
  display: flex;
  align-items: center;
  justify-content: center;

  [cmdk-root] {
    z-index: 100;
    max-width: var(--mtt-sizes-two-thirds);
    width: 100%;
    padding: var(--mtt-space-3);
    background: var(--base-background-normal);
    border-radius: var(--mtt-radii-3);
    overflow: hidden;
    border: 1px solid var(--base-border-subtle);
    box-shadow: var(--mtt-shadows-menu);
    transition: transform 100ms ease;
  }

  [cmdk-input] {
    border: none;
    width: var(--mtt-sizes-full);
    font-size: var(--mtt-fontSizes-3);
    padding: var(--mtt-space-3) var(--mtt-space-3) var(--mtt-space-5)
      var(--mtt-space-3);
    outline: none;
    background: transparent;
    color: var(--base-text-high);
    border-block-end: 1px solid var(--base-border-subtle);
    margin-block-end: var(--mtt-space-5);
    border-radius: 0;

    &::placeholder {
      color: var(--base-normal);
    }
  }

  [cmdk-item] {
    content-visibility: auto;

    cursor: pointer;
    user-select: none;
    font-size: var(--mtt-fontSizes-2);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--mtt-space-3);
    padding: 0 var(--mtt-space-5);
    color: var(--base-text-high);

    border-radius: var(--mtt-radii-3);
    transition: all 150ms ease;
    transition-property: none;

    &[aria-selected='true'] {
      background: var(--base-component-bg-normal);
    }

    &[aria-disabled='true'] {
      color: var(--base-border-hover);
      cursor: not-allowed;
    }

    &:active {
      transition-property: background;
      background: var(--base-component-bg-hover);
    }

    & + [cmdk-item] {
      margin-top: var(--mtt-space-2);
    }

    svg {
      width: 24px;
      height: 24px;
    }

    .cmdk-mtt-text {
      letter-spacing: 0.01em;
      line-height: var(--mtt-lineHeights-2);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }

    .cmdk-mtt-type {
      margin-left: auto;
      color: var(--base-text-low);
      font-size: var(--mtt-fontSizes-2);
    }
  }

  [cmdk-list] {
    height: 66vh;
    max-height: 400px;
    overflow: auto;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
  }

  [cmdk-separator] {
    height: var(--mtt-space-1);
    width: 100%;
    background: var(--base-component-bg-active);
    margin: var(--mtt-space-2) 0;
  }

  *:not([hidden]) + [cmdk-group] {
    margin-top: var(--mtt-space-3);
  }

  [cmdk-group-heading] {
    user-select: none;
    font-size: var(--mtt-fontSizes-1);
    color: var(--base-text-low);
    padding: 0 var(--mtt-space-3);
    display: flex;
    align-items: center;
    margin-bottom: var(--mtt-space-3);
  }

  [cmdk-empty] {
    font-size: var(--mtt-fontSizes-2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    white-space: pre-wrap;
    color: var(--base-text-low);
  }
}
