@use 'mixins/platform';
@use 'variables' as *;

#titlebar {
  position: fixed;
  z-index: 999;
  background-color: var(--base-background-subtle);
  // top: 1px;
  width: calc(100% - 2px);

  .titlebar-button {
    --color: var(--base-text-low);
    --color-hover: var(--base-text-low);
    --surface: transparent;
    --surface-hover: var(--base-component-bg-hover);
    all: unset;
    min-inline-size: 1em;
    min-block-size: 1em;
    padding-block: 0.1em;
    padding-inline: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.3em;
    gap: 0.2em;
    font-size: 0.8em;
    background-color: var(--surface);
    color: var(--color);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--surface-hover);
      color: var(--color-hover);
      cursor: pointer;
    }

    &.active {
      background-color: var(--surface-hover);
      color: var(--color-hover);
      cursor: pointer;
    }

    &.primary {
      --color: var(--primary-active);
      --color-hover: white;
      --surface-hover: var(--primary-active);
      border: 1px solid transparent;
    }
    &.success {
      --color: var(--success-active);
      --color-hover: white;
      --surface-hover: var(--success-active);
    }

    &.dropdown {
      font-weight: bold;
    }

    &.outlined {
      border-color: var(--color);
    }

    & > * {
      max-height: 1em;
      line-height: 1;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  .button-group {
    --border-color: var(--base-border-normal);
    display: flex;
    align-items: stretch;
    border: 1px solid var(--border-color);
    overflow: hidden;
    border-radius: 0.3em;

    .topbar-button {
      padding-inline: 0.2em;
    }
  }

  .titlebar-title {
    user-select: none;
    font-family: var(--mtt-fonts-base);
    font-weight: var(--mtt-fontWeights-medium);
    user-select: none;
    -webkit-user-select: none;

    margin: auto;
    display: flex;
    align-items: baseline;
    font-size: 1em;

    span {
      display: inline-block;
      max-width: 40ch;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    small {
      font-size: 0.7em;
      color: var(--base-text-low);
      font-size: small;
      margin-inline: 0.5em;
    }

    &:hover {
      cursor: default;
    }
  }

  .titlebar-section {
    display: flex;
    align-items: stretch;
    gap: 0.5em;

    // more relaxed spacing on wider widths
    padding-inline: 0.5em;
    padding-block: 0.5em;
  }

  @include platform.macos {
    top: 0;
    width: 100%;

    padding-inline-start: 64px;
  }

  @include platform.win32 {
    top: 1px;
    width: calc(100% - 2px);

    .titlebar-section {
      padding-block: 0.5em;
    }

    #titlebar-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      color: var(--base-text-low);
      padding-inline: 0.5em;

      svg {
        width: 17px;
        height: 17px;
        fill: currentColor;
      }
    }

    #titlebar-system-menu {
      user-select: none;
      display: flex;
      align-items: center;

      .system-menu {
        all: unset;
        display: flex;
        list-style: none;
      }
    }

    #titlebar-window-controls {
      width: 135px;
    }

    button.window-control {
      display: inline-block;
      position: relative;
      width: 45px;
      height: 100%;

      overflow: hidden;
      background-color: transparent;

      // Reset styles from global buttons
      border: none;
      box-shadow: none;
      border-radius: 0;
      color: var(--mtt-colors-base-text-high);

      line-height: 10px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #e5e5e5;
        color: #000;

        &:active {
          background-color: #cccccc;

          // Immediate feedback when clicking
          transition: none;
        }
      }

      &.close:hover {
        background-color: #e81123;
        color: #fff;

        &:active {
          background-color: #f1707a;

          // Immediate feedback when clicking
          transition: none;
        }
      }

      svg {
        width: 10px;
        height: 10px;
        fill: currentColor;
      }
    }
  }

  @include platform.linux {
    block-size: var(--topbar-h);

    .titlebar-section {
      padding-block: 0.5em;
    }

    #titlebar-menu,
    .titlebar-search {
      --border-color: var(--base-border-normal);
      border: 1px solid var(--border-color);
      overflow: hidden;
      border-radius: 0.3em;
    }

    .titlebar-search {
      padding-inline: 0.5em;
    }

    #titlebar-window-controls {
      padding-inline: 5px;
      gap: 15px;
      align-items: center;
      display: flex;
    }

    &[data-has-focus='true'] button.window-control {
      background-color: var(--base-component-bg-normal);
    }

    button.window-control {
      display: inline-block;
      position: relative;
      width: 22px;
      height: 22px;
      line-height: 8px;
      border-radius: 50px;

      overflow: hidden;
      background-color: transparent;

      // Reset styles from global buttons
      border: none;
      box-shadow: none;
      color: var(--mtt-colors-base-text-high);

      transition: background-color 150ms;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: var(--base-component-bg-hover);

        &:active {
          background-color: var(--base-component-bg-active);
        }
      }

      svg {
        width: 8px;
        height: 8px;
        fill: currentColor;
      }
    }
  }
}

.titlebar-row {
  block-size: var(--topbar-h);
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--base-border-subtle);
}
