@use 'mixins/platform';
@use 'variables' as *;

.topbar-title-bar {
  block-size: 32px;
  position: fixed;
  top: 0;
  inset-inline: 0;
  // background-color: red;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid var(--base-border-subtle);

  .topbar-section {
    padding: 0;
  }

  @include platform.win32 {
    button.window-control {
      display: inline-block;
      position: relative;
      width: 45px;
      height: 100%;
      // padding: 0;
      // margin: 0;
      overflow: hidden;
      background-color: transparent;

      // Reset styles from global buttons
      border: none;
      box-shadow: none;
      border-radius: 0;

      line-height: 10px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #e5e5e5;
        color: #000;

        // Doing :hover:active as oposed to just :active is
        // a conscious choice to match how the real Windows
        // controls behave when someone hovers, clicks and then
        // moves away from the hitbox.
        &:active {
          background-color: #cccccc;

          // Immediate feedback when clicking
          transition: none;
        }
      }

      &.close:hover {
        background-color: #e81123;
        color: #fff;

        &:active {
          background-color: #f1707a;

          // Immediate feedback when clicking
          transition: none;
        }
      }

      svg {
        fill: currentColor;
      }
    }
  }
}
.topbar-main-bar {
  position: fixed;
  inset-inline: 0;

  block-size: var(--topbar-h);
  flex: none;
  inline-size: 100%;
  border-bottom: 1px solid var(--base-border-subtle);
  background-color: var(--base-background-subtle);
  transition: opacity 0.25s ease;
  display: flex;
  align-items: stretch;
  z-index: 100;

  user-select: none;
  -webkit-user-select: none;

  &:hover {
    cursor: default;
  }
  &:has([data-state='hidden']) {
    opacity: 0;
  }

  @include platform.macos {
    top: 0;
    padding-inline-start: 64px;
  }

  @include platform.win32 {
    top: 32px;
  }

  @include platform.linux {
    top: 32px;
  }
}

.topbar-inner {
  inline-size: calc(100% - 64px);
  block-size: var(--topbar-h, 40px);
  display: flex;
  align-items: stretch;
}

.topbar-section {
  display: flex;
  align-items: stretch;
  gap: 0.5em;
  // more relaxed spacing on wider widths
  padding-inline: 0.5em;
  padding-block: 0.5em;
  // padding-inline: 1vw;

  // @include platform.macos {
  //   padding-block: 0.5em;
  // }

  // @include platform.win32 {
  //   padding-block: 0.2em;
  // }

  &.main {
    flex: 1;
    gap: 0.5rem;
    min-width: 0;
    align-items: center;
    justify-content: center;
    padding-inline-start: 1rem;
  }
}

.topbar-title {
  font-family: var(--mtt-fonts-base);
  font-weight: var(--mtt-fontWeights-medium);
  user-select: none;
  -webkit-user-select: none;
  font-size: 1rem;
  max-width: 40ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  small {
    color: var(--base-text-low);
    font-size: small;
    margin-inline: 0.5rem;
  }

  &:hover {
    cursor: default;
  }

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.topbar-button {
  --color: var(--base-text-low);
  --color-hover: var(--base-text-low);
  --surface: transparent;
  --surface-hover: var(--base-component-bg-hover);
  all: unset;
  min-inline-size: 1em;
  min-block-size: 1em;
  padding-block: 0.1em;
  padding-inline: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.3em;
  gap: 0.2em;
  font-size: 0.8rem;
  background-color: var(--surface);
  color: var(--color);
  border: 1px solid transparent;

  &:hover {
    background-color: var(--surface-hover);
    color: var(--color-hover);
    cursor: pointer;
  }

  &.primary {
    --color: var(--primary-active);
    --color-hover: white;
    --surface-hover: var(--primary-active);
    border: 1px solid transparent;
  }
  &.success {
    --color: var(--success-active);
    --color-hover: white;
    --surface-hover: var(--success-active);
  }

  &.dropdown {
    font-weight: bold;
  }

  &.outlined {
    border-color: var(--color);
  }

  & > * {
    max-height: 1em;
    line-height: 1;
  }
}

.button-group {
  --border-color: var(--base-border-normal);
  display: flex;
  align-items: stretch;
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 0.3em;

  .topbar-button {
    padding-inline: 0.2em;
  }
}

@media (min-width: 768px) {
  .topbar-title {
    font-size: 1.1rem;
  }
}

.no-flex {
  flex: none;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;
}
