[cmdk-overlay] {
  position: fixed;
  inset: 0;
  background-color: var(--background);
  opacity: 0.7;
}
[cmdk-dialog] {
  z-index: 99999;
  inset: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
    'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
[cmdk-dialog] [cmdk-root] {
  z-index: 100;
  max-width: 70%;
  width: 100%;
  padding: 16px;
  background: var(--background);
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--borderColor);
  box-shadow: 0px 12px 24px var(--shadowColor);
  transition: transform 100ms ease;
}
[cmdk-dialog] [cmdk-input] {
  border: none;
  width: 100%;
  font-size: 1em;
  padding: 16px 16px 24px 16px;
  outline: none;
  background: transparent;
  color: var(--color);
  border-block-end: 1px solid var(--borderColor);
  margin-block-end: 24px;
  border-radius: 0;
}
[cmdk-dialog] [cmdk-input]::placeholder {
  color: var(--color);
}
[cmdk-dialog] [cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 24px;
  color: var(--color);
  border-radius: 6px;
  transition: all 150ms ease;
  transition-property: none;
}
[cmdk-dialog] [cmdk-item][aria-selected='true'] {
  background: var(--backgroundFocus);
}
[cmdk-dialog] [cmdk-item][aria-disabled='true'] {
  color: var(--borderColor);
  cursor: not-allowed;
}
[cmdk-dialog] [cmdk-item]:active {
  transition-property: background;
  background: var(--backgroundHover);
}
[cmdk-dialog] [cmdk-item] + [cmdk-item] {
  margin-top: 8px;
}
[cmdk-dialog] [cmdk-item] svg {
  width: 24px;
  height: 24px;
}
[cmdk-dialog] [cmdk-item] .cmdk-mtt-text {
  letter-spacing: 0.01em;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
[cmdk-dialog] [cmdk-item] .cmdk-mtt-type {
  margin-left: auto;
  color: var(--colorHover);
  font-size: 0.8em;
}
[cmdk-dialog] [cmdk-list] {
  height: 66vh;
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}
[cmdk-dialog] [cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--placeholderColor);
  margin: 8px 0;
}
[cmdk-dialog] *:not([hidden]) + [cmdk-group] {
  margin-top: 16px;
}
[cmdk-dialog] [cmdk-group-heading] {
  user-select: none;
  font-size: 0.8em;
  color: var(--colorHover);
  padding: 0 16px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
[cmdk-dialog] [cmdk-empty] {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;
  color: var(--colorHover);
}
