.editor {
  

  --editor-width: 120ch;
  width: 100%;
  max-width: var(--editor-width, 120ch);
  margin-inline: auto;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.editor [data-slate-placeholder='true'] {
  white-space: nowrap;
  /* margin-top: -1.5em; */
}

.editor ul,
.editor ol {
  padding-inline-start: 0em;
}

.editor.mode-draft,
.editor.mode-publication {
  display: block;
  padding: 40px 0 200px 0;
}

.editor.mode-embed {
  display: inline !important;
  padding-inline-end: 0 !important;
}

.editor p,
.editor q {
  padding: 0 !important;
  overflow-wrap: break-word;
  width: 100%;
  margin: 0;
}

q {
  display: inline;
}

q:before,
q:after {
  content: '';
}

/* === DRAGGING === */

[data-action='dragged-bottom']::after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 100%;
  background-color: red
  left: 50%;
  transform: translateX(-50%);
}
[data-action='dragged-bottom-group'] {
  background: red;
}
[data-action='dragged-bottom-group']::after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 100%;
  background-color: #007aff;
  left: 50%;
  transform: translateX(-50%);
}
[data-action='dragged-top']::before {
  content: '';
  position: absolute;
  top: -5px;
  height: 3px;
  width: 100%;
  background-color: #007aff;
  left: 50%;
  transform: translateX(-50%);
}
[data-action='dragged-nested'] {
  background: red;
}
[data-action='dragged-nested']::after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 20px;
  background-color: #3eb489;
  left: 0%;
}
[data-action='dragged-group']::after {
  content: '';
  position: absolute;
  bottom: -7px;
  height: 3px;
  width: 20px;
  background-color: #007aff;
  left: 0%;
}

/*

.editor p,
.editor q,
.editor blockquote {
  padding: 0 !important;
  overflow-wrap: break-word;
  max-width: var(--editor-width, 59ch);
  width: 100%;
  margin: 0;
  padding-block: 0.8em;
}

[data-element-type='group'] {
  list-style: none !important;
}

[data-element-type='unorderedList'] {
  list-style: disc;
}

li::marker {
  color: var(--base-active);
  user-select: none;
}
[data-element-type] {
  position: relative;
}
[data-element-type='code'] {
  position: relative;
  max-width: var(--editor-width, 59ch);
}
[data-element-type='code'] pre {
  width: 100%;
  overflow: hidden;
}
[data-element-type='code'] code {
  overflow-x: scroll;
}
[data-element-type='code']:hover > .code-selector-wrapper {
  opacity: 1 !important;
}




.editor h1 {
  width: 100%;
}
.editor h2,
.editor h3 {
  width: 100%;
}
.editor :is(li h2, li h3) + * {
  --flow-space: var(--size-400);
}
.editor li {
  margin-bottom: 0;
}

.editor p + ul,
.editor p + ol {
  margin-top: 0.8em;
}

.editor li figure,
.editor li figure + * {
  --flow-space: var(--size-900);
}

.editor.mode-draft ul,
.editor.mode-publication ul,
.editor.mode-draft ol,
.editor.mode-publication ol {
  padding-left: 0;
}
.editor.mode-draft ol > li > ul,
.editor.mode-publication ol > li > ul {
  padding-left: 0;
}

.editor.mode-discussion {
  --inline-offset: 40px;
  transform: translateX(calc(var(--inline-offset) * -1));
  display: block;
  margin-inline: 0;
  width: calc(100% + var(--inline-offset));
  padding-inline-end: 0;
}
.editor.mode-discussion p {
  font-family: var(--mtt-fonts-base);
  font-size: 0.9em;
}
.editor.mode-discussion h2 {
  font-size: 1.2em;
}
.editor.mode-discussion h3,
.editor.mode-discussion h4 {
  font-size: 1.1em;
}
.editor.mode-discussion li::marker {
  font-size: 0.8em;
}
.editor a {
  text-decoration: underline;
  word-break: break-all;
}
.editor a:hover {
  cursor: pointer;
}
.editor a[data-highlight]:hover {
  background-color: var(--primary-component-bg-hover);
}
q {
  display: inline;
}
q > span {
  background-color: var(--highlight-surface1);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 2px solid var(--highlight-surface2);
}
q:before,
q:after {
  content: '';
}
q:hover {
  cursor: pointer;
}
q:hover > span {
  background-color: var(--highlight-surface2);
}
q.selected {
  box-shadow: 0 0 0 2px var(--primary-border-hover);
}
.flash > :first-child span {
  animation: yellowflash-bg 5s;
}
@keyframes yellowflash-bg {
  from {
    background: var(--highlight-surface4);
  }
  to {
    background: transparent;
  }
}

*/