.editor {
  --editor-width: 120ch;
  width: 100%;
  max-width: var(--editor-width, 120ch);
  margin-inline: auto;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.editor [data-slate-placeholder='true'] {
  top: 0;
  white-space: nowrap;
  /* margin-top: -1.5em; */
}

.editor ul,
.editor ol {
  padding-inline-start: 0em;
}

.editor.mode-draft,
.editor.mode-publication {
  display: block;
  padding: 40px 0 200px 0;
}

.editor.mode-embed {
  display: inline !important;
  padding-inline-end: 0 !important;
}

.editor p,
.editor q {
  padding: 0 !important;
  overflow-wrap: break-word;
  width: 100%;
  margin: 0;
}

q {
  display: inline;
}

q:before,
q:after {
  content: '';
}
