.editor {
  max-width: 664px;
  margin: 40px auto;
  width: 90%;
}

.ProseMirror {
  background-color: transparent;
}

.link,
.hm-link {
  text-decoration: underline;
}
.link:hover,
.hm-link:hover {
  cursor: pointer;
}

/* manually synced with tamagui colors: blue11 and blueDark11 */
.ProseMirror .link {
  color: hsl(211, 100%, 43.2%);
}
.mintter-app-dark .ProseMirror .link {
  color: hsl(210, 100%, 66.1%)
}

/* manually sync these values with colors.ts mint11 and mintDark11 */
.ProseMirror .hm-link {
  color: hsl(181, 50.0%, 45.8%);
}
.mintter-app-dark .ProseMirror .hm-link {
  color: hsl(184, 80.0%, 71.0%);
}


.ProseMirror .link-placeholder {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.video-iframe {
  width: calc(100% - var(--space-9));
  height: calc(100% - var(--space-9));
}
.image-caption {
  font-size: 0.85em;
  opacity: 0.7;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block-container {
  position: relative;
}

.block-container-hovered {
  background-color: var(--backgroundPress);
}

[data-list-type='ul'] .node-blockContainer,
[data-list-type='ol'] .node-blockContainer {
  display: list-item;
}
