.editor {
  max-width: calc(80ch + 108px);
  margin: 60px auto;
  width: 90%;
}

.ProseMirror {
  background-color: transparent;
}

/* recommendation from Haz: https://twitter.com/diegohaz/status/1591829631811846147 */
.link,
.hm-link {
  word-wrap: break-word;
  word-break: break-all;
  text-decoration-line: underline;
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
}

.link:hover,
.hm-link:hover {
  cursor: pointer;
  text-decoration-thickness: 3px;
}

/* manually synced with tamagui colors: blue11 and blueDark11 */
/* .ProseMirror .link { */
/* color: var(--blue11); */
/* } */
/* .mintter-app-dark .ProseMirror .link {
  color: hsl(210, 100%, 66.1%);
} */

/* manually sync these values with colors.ts mint11 and mintDark11 */
.ProseMirror .hm-link {
  color: var(--mint11);
}
/* .mintter-app-dark .ProseMirror .hm-link {
  color: hsl(184, 80%, 71%);
} */

.ProseMirror .link-placeholder {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.video-iframe {
  width: calc(100% - var(--space-9));
  height: calc(100% - var(--space-9));
}
.image-caption {
  font-size: 0.85em;
  opacity: 0.7;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.block-container {
  position: relative;
}

.block-container-hovered {
  background-color: var(--backgroundPress);
}

[data-list-type='ul'] .node-blockContainer,
[data-list-type='ol'] .node-blockContainer {
  display: list-item;
}
