/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html,
body {
  @apply bg-background;
}

.theme-light,
.theme-dark .theme-invert {
  --color-primary: theme('colors.blue.700');
  --color-primary-hover: theme('colors.blue.800');

  --color-secondary: theme('colors.gray.600');
  --color-secondary-hover: theme('colors.gray.700');

  --color-muted: theme('colors.gray.300');
  --color-muted-hover: theme('colors.gray.500');

  --color-success: theme('colors.green.500');
  --color-success-hover: theme('colors.green.700');
  --color-success-background: theme('colors.green.100');

  --color-info: theme('colors.blue.300');
  --color-info-hover: theme('colors.blue.500');
  --color-info-background: theme('colors.blue.100');

  --color-warning: theme('colors.yellow.300');
  --color-warning-hover: theme('colors.yellow.500');
  --color-warning-background: theme('colors.yellow.100');

  --color-danger: theme('colors.red.500');
  --color-danger-hover: theme('colors.red.700');
  --color-danger-background: theme('colors.red.500');

  --color-body: theme('colors.gray.900');
  --color-body-muted: theme('colors.gray.700');

  --color-heading: theme('colors.gray.900');
  --color-heading-muted: theme('colors.gray.600');

  --color-background: theme('colors.gray.100');
  --color-background-muted: theme('colors.gray.200');
  --color-background-emphasize: theme('colors.gray.300');
  --color-background-toolbar: theme('colors.gray.800');
  --color-toggle-theme: theme('colors.gray.800');

  --color-toolbar: theme('colors.gray.500');
  --color-toolbar-active: theme('colors.black');
}

.theme-dark,
.theme-light .theme-invert {
  --color-primary: theme('colors.blue.300');
  --color-primary-hover: theme('colors.blue.200');

  --color-secondary: theme('colors.gray.400');
  --color-secondary-hover: theme('colors.gray.300');

  --color-muted: theme('colors.gray.700');
  --color-muted-hover: theme('colors.gray.500');

  --color-success: theme('colors.green.700');
  --color-success-hover: theme('colors.green.500');
  --color-success-background: theme('colors.green.900');

  --color-info: theme('colors.blue.700');
  --color-info-hover: theme('colors.blue.500');
  --color-info-background: theme('colors.blue.900');

  --color-warning: theme('colors.yellow.700');
  --color-warning-hover: theme('colors.yellow.500');
  --color-warning-background: theme('colors.yellow.900');

  --color-danger: theme('colors.red.700');
  --color-danger-hover: theme('colors.red.500');
  --color-danger-background: theme('colors.red.900');

  --color-body: theme('colors.gray.100');
  --color-body-muted: theme('colors.gray.400');

  --color-heading: theme('colors.gray.200');
  --color-heading-muted: theme('colors.gray.400');

  --color-background: theme('colors.gray.900');
  --color-background-muted: theme('colors.gray.800');
  --color-background-emphasize: theme('colors.gray.700');
  --color-background-toolbar: theme('colors.gray.800');
  --color-toggle-theme: theme('colors.gray.400');

  --color-toolbar: theme('colors.gray.500');
  --color-toolbar-active: theme('colors.white');
}

.content-transition {
  transition: background-color 0.25s;
}
