.content-wrapper {
  overflow-y: scroll;
}

.publication-list-scroller {
  padding-top: 30px;
}

.publication-list-scroller::-webkit-scrollbar-track {
  margin-top: 30px;
  margin-bottom: 10px;
}

.publication-list-scroller > div {
  position: relative;
}
