.download-item {
  padding: var(--space-size-2);
  background-color: var(--color-brand);
  color: white;
  text-decoration: none;
  box-shadow: 0 0 0 0 black;
  transition: all 250ms ease;
}

.download-item:hover {
  box-shadow: 4px 4px 0 0 black;
}
