.editor {
  & > ul,
  & > ol {
    padding-inline-start: 0;
    border-inline-start: none;
  }

  & [data-type='group'] {
    list-style-type: none;
  }

  & li:has(h2),
  & li:has(h3) {
    margin-top: var(--space-size-300);
  }

  & li:has(h4),
  & li:has(h5) {
    margin-top: var(--space-size-200);
  }

  & li:has(p),
  & li:has(h6) {
    margin-top: var(--space-size-100);
  }

  & img {
    width: 100%;
  }
}

ul,
ol {
  padding-inline-start: var(--space-base);
  /* border-inline-start: 1px solid var(--color-light-surface-100); */
}

q {
  display: inline;

  font-style: italic;
  color: var(--primary-normal);
  background-color: var(--color-highlight-surface1);
  text-shadow: 0 0 3px var(--color-highlight-surface3);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 2px solid var(--color-highlight-surface2);

  &:before,
  &:after {
    content: '';
  }

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 6px var(--primary-component-bg-active);
    background-color: var(--color-highlight-surface2);
  }
}

.youtube-video {
  position: relative;
  width: 100%;
  padding-top: 56%;
}
