.site-head {
  padding: 1em;
  /* background: var(--color-primary); */
  /* border-top: 5px solid var(--color-primary); */
  /* border-bottom: 5px solid var(--color-primary-shade); */
  /* color: var(--color-light); */
  line-height: 1.1;
}

.site-head :focus {
  outline-color: var(--color-light);
}

.site-head__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1em;
}

.site-head__brand {
  display: block;
  width: 3em;
}

.site-head h1 {
  font-size: 2em;
}

.with-border {
  border-bottom: 1px solid var(--color-light-surface-400);
}
