.site-head {
  padding: 1rem;
  /* background: var(--color-primary); */
  /* border-top: 5px solid var(--color-primary); */
  /* border-bottom: 5px solid var(--color-primary-shade); */
  /* color: var(--color-light); */
  line-height: 1.1;
}

.site-head :focus {
  outline-color: var(--color-light);
}

.site-head__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.site-head__brand {
  display: block;
  width: 3rem;
}