@import 'custom-props.css';
@import 'reset.css';

/* Global styles */
body {
  /* padding: var(--space-size-200) var(--space-size-100); */
  @apply text-light-text-300 font-sans;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 900;
}

h1 {
  @apply text-size-400;
}

h2 {
  @apply text-size-300;
}

h3 {
  @apply text-size-200;
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 25ch;
}

h2,
h3 {
  max-width: 30ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-300);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

/* So text scale renders nicely */
div[class*='text-'] {
  --flow-space: 1rem;
  line-height: 1;
  font-weight: 700;
}

blockquote {
  @apply text-light-text-100;

  margin-inline-start: 0;
  padding-inline-start: var(--space-size-100);
  border-inline-start: 5px solid var(--color-brand);
  margin-block: var(--space-size-100);
  padding-block: var(--space-base);
  font-style: italic;
  font-size: var(--font-size-100);
}

pre {
  padding: var(--space-size-100);
  background: var(--color-dark-surface-100);
  border-radius: var(--space-base);
  color: var(--color-dark-text-100);
  font-size: var(--font-base);
}

/* 
  Nextjs image Known bugs: Safari 15+ displays a gray border while loading.
  reference: https://nextjs.org/docs/api-reference/next/image#known-browser-bugs
*/
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}
