@import 'custom-props.css';
@import 'reset.css';

/* Global styles */
body {
  /* padding: var(--space-size-2) var(--space-size-1); */
  @apply text-light-text-100 font-sans;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 900;
}

h1 {
  @apply text-size-4;
}

h2 {
  @apply text-size-3;
}

h3 {
  @apply text-size-2;
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 25ch;
}

h2,
h3 {
  max-width: 30ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

/* Prose */
h2,
h3 {
  --flow-space: var(--space-size-3);
}

h2 + *,
h3 + * {
  --flow-space: var(--space-base);
}

/* So text scale renders nicely */
div[class*='text-'] {
  --flow-space: 1rem;
  line-height: 1;
  font-weight: 700;
}
