{
  "RelayV2": {
    "Enabled": true
  },
  "RelayV1": {
    "Enabled": false
  },
  "Network": {
    "ListenAddrs": [
        "/ip4/0.0.0.0/udp/4002/quic",
        "/ip6/::/udp/4002/quic",
        "/ip4/0.0.0.0/tcp/4002",
        "/ip6/::/tcp/4002",
        "/ip4/0.0.0.0/tcp/4003/ws",
        "/ip6/::/tcp/4003/ws"
    ],
    "AnnounceAddrs": [
        "/ip4/0.0.0.0/udp/4002/quic",
        "/ip4/0.0.0.0/tcp/4002"
    ]
  },
  "Daemon": {
    "PprofPort": 6061
  }
}