.blocknode-list {
  -webkit-font-smoothing: antialiased;
}

.block-paragraph .content-inline,
.block-paragraph .content-inline * :not(code) {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.block-paragraph .content-inline.is-comment,
.block-paragraph .content-inline.is-comment *:not(code) {
  font-family:
    'Inter',
    'SF Pro Display',
    -apple-system,
    BlinkMacSystemFont,
    'Open Sans',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.block-embed .block-embed {
  border-right-width: 0px;
}

.block-embed .block-embed > .embed-side-annotation,
.feed-item-container .embed-side-annotation {
  display: none !important;
}

ul[data-list-type='ul'] .blocknode-content,
ol[data-list-type='ol'] .blocknode-content {
  display: list-item !important;
}

div[data-list-type='div'] > .blocknode-content {
  display: flex !important;
}

div[data-list-type='div'] ul[data-list-type='ul'] .blocknode-content,
div[data-list-type='div'] ol[data-list-type='ol'] .blocknode-content {
  display: list-item !important;
}

ul[data-list-type='ul'] div[data-list-type='div'] .blocknode-content,
ol[data-list-type='ol'] div[data-list-type='div'] .blocknode-content {
  display: flex !important;
}

.blocknode-list[data-list-type='ul'] {
  margin-left: 0.2em;
  list-style-type: disc;
  list-style-position: outside;
}

.blocknode-list[data-list-level='2'] {
  list-style-type: circle;
  list-style-position: outside;
}

.blocknode-list[data-list-level='3'] {
  list-style-type: square;
  list-style-position: outside;
}

.blocknode-list[data-list-type='ol'] {
  margin-left: 0.2em;
  list-style-type: decimal;
  list-style-position: outside;
}

.blocknode-content-heading + .blocknode-list {
  margin-left: 0 !important;
}
