* {
  --base-background-subtle: var(--gray1);
  --base-background-normal: var(--gray2);
  --base-component-bg-normal: var(--gray3);
  --base-component-bg-hover: var(--gray4);
  --base-component-bg-active: var(--gray5);
  --base-border-subtle: var(--gray6);
  --base-border-normal: var(--gray7);
  --base-border-hover: var(--gray8);
  --base-normal: var(--gray9);
  --base-active: var(--gray10);
  --base-text-low: var(--gray11);
  --base-text-high: var(--gray12);
  --base-text-opposite: var(--gray1);

  --primary-background-subtle: var(--blue1);
  --primary-background-normal: var(--blue2);
  --primary-component-bg-normal: var(--blue3);
  --primary-component-bg-hover: var(--blue4);
  --primary-component-bg-active: var(--blue5);
  --primary-border-subtle: var(--blue6);
  --primary-border-normal: var(--blue7);
  --primary-border-hover: var(--blue8);
  --primary-normal: var(--blue9);
  --primary-active: var(--blue10);
  --primary-text-low: var(--blue11);
  --primary-text-high: var(--blue12);
  --primary-text-opposite: var(--blue1);

  --secondary-background-subtle: var(--orange1);
  --secondary-background-normal: var(--orange2);
  --secondary-component-bg-normal: var(--orange3);
  --secondary-component-bg-hover: var(--orange4);
  --secondary-component-bg-active: var(--orange5);
  --secondary-border-subtle: var(--orange6);
  --secondary-border-normal: var(--orange7);
  --secondary-border-hover: var(--orange8);
  --secondary-normal: var(--orange9);
  --secondary-active: var(--orange10);
  --secondary-text-low: var(--orange11);
  --secondary-text-high: var(--orange12);
  --secondary-text-opposite: var(--orange1);

  --success-background-subtle: var(--green1);
  --success-background-normal: var(--green2);
  --success-component-bg-normal: var(--green3);
  --success-component-bg-hover: var(--green4);
  --success-component-bg-active: var(--green5);
  --success-border-subtle: var(--green6);
  --success-border-normal: var(--green7);
  --success-border-hover: var(--green8);
  --success-normal: var(--green9);
  --success-active: var(--green10);
  --success-text-low: var(--green11);
  --success-text-high: var(--green12);
  --success-text-opposite: var(--green1);

  --warning-background-subtle: var(--yellow1);
  --warning-background-normal: var(--yellow2);
  --warning-component-bg-normal: var(--yellow3);
  --warning-component-bg-hover: var(--yellow4);
  --warning-component-bg-active: var(--yellow5);
  --warning-border-subtle: var(--yellow6);
  --warning-border-normal: var(--yellow7);
  --warning-border-hover: var(--yellow8);
  --warning-normal: var(--yellow9);
  --warning-active: var(--yellow10);
  --warning-text-low: var(--yellow11);
  --warning-text-high: var(--yellow12);
  --warning-text-opposite: var(--yellow1);

  --danger-background-subtle: var(--red1);
  --danger-background-normal: var(--red2);
  --danger-component-bg-normal: var(--red3);
  --danger-component-bg-hover: var(--red4);
  --danger-component-bg-active: var(--red5);
  --danger-border-subtle: var(--red6);
  --danger-border-normal: var(--red7);
  --danger-border-hover: var(--red8);
  --danger-normal: var(--red9);
  --danger-active: var(--red10);
  --danger-text-low: var(--red11);
  --danger-text-high: var(--red12);
  --danger-text-opposite: var(--red1);

  --highlight-surface1: rgba(255, 212, 0, 0.14);
  --highlight-surface2: rgba(255, 212, 0, 0.4);
  --highlight-surface3: rgba(255, 212, 0, 0.8);
  --highlight-surface4: rgba(255, 212, 0, 0.95);
}

.dark-theme {
  --base-background-subtle: var(--gray1);
  --base-background-normal: var(--gray2);
  --base-component-bg-normal: var(--gray3);
  --base-component-bg-hover: var(--gray4);
  --base-component-bg-active: var(--gray5);
  --base-border-subtle: var(--gray6);
  --base-border-normal: var(--gray7);
  --base-border-hover: var(--gray8);
  --base-normal: var(--gray9);
  --base-active: var(--gray10);
  --base-text-low: var(--gray11);
  --base-text-high: var(--gray12);
  --base-text-opposite: var(--gray1);

  --primary-background-subtle: var(--blue1);
  --primary-background-normal: var(--blue2);
  --primary-component-bg-normal: var(--blue3);
  --primary-component-bg-hover: var(--blue4);
  --primary-component-bg-active: var(--blue5);
  --primary-border-subtle: var(--blue6);
  --primary-border-normal: var(--blue7);
  --primary-border-hover: var(--blue8);
  --primary-normal: var(--blue9);
  --primary-active: var(--blue10);
  --primary-text-low: var(--blue11);
  --primary-text-high: var(--blue12);
  --primary-text-opposite: var(--blue1);

  --secondary-background-subtle: var(--orange1);
  --secondary-background-normal: var(--orange2);
  --secondary-component-bg-normal: var(--orange3);
  --secondary-component-bg-hover: var(--orange4);
  --secondary-component-bg-active: var(--orange5);
  --secondary-border-subtle: var(--orange6);
  --secondary-border-normal: var(--orange7);
  --secondary-border-hover: var(--orange8);
  --secondary-normal: var(--orange9);
  --secondary-active: var(--orange10);
  --secondary-text-low: var(--orange11);
  --secondary-text-high: var(--orange12);
  --secondary-text-opposite: var(--orange1);

  --success-background-subtle: var(--green1);
  --success-background-normal: var(--green2);
  --success-component-bg-normal: var(--green3);
  --success-component-bg-hover: var(--green4);
  --success-component-bg-active: var(--green5);
  --success-border-subtle: var(--green6);
  --success-border-normal: var(--green7);
  --success-border-hover: var(--green8);
  --success-normal: var(--green9);
  --success-active: var(--green10);
  --success-text-low: var(--green11);
  --success-text-high: var(--green12);
  --success-text-opposite: var(--green1);

  --warning-background-subtle: var(--yellow1);
  --warning-background-normal: var(--yellow2);
  --warning-component-bg-normal: var(--yellow3);
  --warning-component-bg-hover: var(--yellow4);
  --warning-component-bg-active: var(--yellow5);
  --warning-border-subtle: var(--yellow6);
  --warning-border-normal: var(--yellow7);
  --warning-border-hover: var(--yellow8);
  --warning-normal: var(--yellow9);
  --warning-active: var(--yellow10);
  --warning-text-low: var(--yellow11);
  --warning-text-high: var(--yellow12);
  --warning-text-opposite: var(--yellow1);

  --danger-background-subtle: var(--red1);
  --danger-background-normal: var(--red2);
  --danger-component-bg-normal: var(--red3);
  --danger-component-bg-hover: var(--red4);
  --danger-component-bg-active: var(--red5);
  --danger-border-subtle: var(--red6);
  --danger-border-normal: var(--red7);
  --danger-border-hover: var(--red8);
  --danger-normal: var(--red9);
  --danger-active: var(--red10);
  --danger-text-low: var(--red11);
  --danger-text-high: var(--red12);
  --danger-text-opposite: var(--red1);

  --highlight-surface1: rgba(255, 212, 0, 0.14);
  --highlight-surface2: rgba(255, 212, 0, 0.4);
  --highlight-surface3: rgba(255, 212, 0, 0.8);
  --highlight-surface4: rgba(255, 212, 0, 0.95);
}
