.discussion-list {
  position: relative;
  padding: 0;
}

.item-button-add {
  all: unset;
  width: 32px;
  height: 32px;
  border: 1px solid var(--base-border-subtle);
  border-radius: 50%;
  background-color: var(--base-background-normal);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}
