name: Update Docker Images

on:
  workflow_dispatch:
  schedule:
    - cron: '50 6 * * 0-6'

  push:
    tags:
      - "*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  AWS_REGION: us-east-1

jobs:
  generate-docker-images:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push edge mintter-site
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/mintter-site/Dockerfile
          tags: mintter/mintter-site:master
      - name: Build and push stable mintter-site
        if: startsWith(github.ref, 'refs/tags/') && github.event.ref_type == 'tag' && contains(github.ref, '/[0-9]{4}.[0-9]+.[0-9]+$')
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/mintter-site/Dockerfile
          tags: mintter/mintter-site:latest
        
      - name: Build and push edge mintterd
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/mintterd/Dockerfile
          tags: mintter/mintterd:master
      - name: Build and push stable mintterd
        if: startsWith(github.ref, 'refs/tags/') && github.event.ref_type == 'tag' && contains(github.ref, '/[0-9]{4}.[0-9]+.[0-9]+$')
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/mintterd/Dockerfile
          tags: mintter/mintterd:latest

      - name: Build and push edge nextjs
        uses: docker/build-push-action@v4
        with:
          push: true
          file: frontend/apps/site/Dockerfile
          tags: mintter/sitegw:master
      - name: Build and push stable nextjs
        if: startsWith(github.ref, 'refs/tags/') && github.event.ref_type == 'tag' && contains(github.ref, '/[0-9]{4}.[0-9]+.[0-9]+$')
        uses: docker/build-push-action@v4
        with:
          push: true
          file: frontend/apps/site/Dockerfile
          tags: mintter/sitegw:latest

      - name: Build and push edge monitord
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/monitord/Dockerfile
          tags: mintter/monitord:master
      - name: Build and push stable monitord
        if: startsWith(github.ref, 'refs/tags/') && github.event.ref_type == 'tag' && contains(github.ref, '/[0-9]{4}.[0-9]+.[0-9]+$')
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/monitord/Dockerfile
          tags: mintter/monitord:latest

      - name: Build and push edge relay
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/relayd/Dockerfile
          tags: mintter/relayd:master
      - name: Build and push stable relay
        if: startsWith(github.ref, 'refs/tags/') && github.event.ref_type == 'tag' && contains(github.ref, '/[0-9]{4}.[0-9]+.[0-9]+$')
        uses: docker/build-push-action@v4
        with:
          push: true
          file: backend/cmd/relayd/Dockerfile
          tags: mintter/relayd:latest