name: Lint Go

on:
  pull_request:
    paths:
      - ".github/workflows/lint-go.yml"
      - "backend/**/*.go"
    branches-ignore:
      - "renovate/**"

# Based on https://github.com/golangci/golangci-lint-action readme.
permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
      - uses: actions/checkout@v4
      - uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          only-new-issues: true
          args: --timeout=5m
