body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.window-drag {
  -webkit-app-region: drag;
}

.no-window-drag {
  -webkit-app-region: no-drag;
}

.toaster {
  font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}

.split-view-view {
  height: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}
